<div class="card">
    <div class="card__content">
      <div>
        <h3><%= agenda.title %></h3>
        <p><%= agenda.description %></p>
      </div>
      <div>
        <span>
          <i class='bx bxs-group'></i>
        </span>
        <span><%= agenda.contactsCount %> Contatos</span>
      </div>
    </div>
    <div class="card__actions">
      <a href="/agenda/editar/<%= agenda.id %>">
        <i class='bx bxs-edit'></i>
        Editar
      </a>
      <a href="/agenda/deletar/<%= agenda.id %>">
        <i class='bx bx-trash' ></i>
        Excluir
      </a>
      <a href="/agenda/<%= agenda.id %>">
        <i class='bx bxs-contact'></i>
        Ver Contatos
      </a>
      <a href="/agenda/<%= agenda.id %>/contato">
        <i class='bx bx-user-plus'></i>
        Adicionar Contato
      </a>
    </div>
</div>