<div class="card">
    <div class="card__content">
      <h3><%= `${contact.firstName} ${contact.lastName}` %></h3>

      <div>
        <p><strong>Email:</strong> <%= contact.email %></p>
        <p><strong>Telefone:</strong> <%= contact.phone %></p>
        <p><strong>Endereço:</strong> <%= contact.address %></p>
      </div>

      <div>
        <strong>Notas:</strong>
        <p><%= !contact.notes ? 'Sem notas' : contact.notes %></p>
      </div>
    </div>
    <div class="card__actions">
      <a href="/agenda/<%= contact.agendaId %>/contato/editar/<%= contact.id %>">
        <i class='bx bxs-edit'></i>
        Editar
      </a>
      <a href="/agenda/<%= contact.agendaId %>/contato/deletar/<%= contact.id %>">
        <i class='bx bx-trash' ></i>
        Excluir
      </a>
    </div>
</div>